<!-- Latest compiled and minified Jquery -->
script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")

<!-- Latest compiled and minified ScrollMgic -->
script(src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.js")

<!-- Latest compiled and minified ScrollMgic Indicators -->
script(src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js")

<!-- Latest compiled and minified ScrollMgic GSAP Plugin -->
script(src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.min.js")

<!-- Latest compiled and minified GSAP -->
script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js")

<!-- Latest compiled and minified GSAP -->
script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TimelineMax.min.js")

<!-- Latest compiled and minified Bootstrap -->
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous")

<!-- Latest compiled and minified CountUp -->
script(src="https://cdnjs.cloudflare.com/ajax/libs/countup.js/1.7.1/countUp.min.js")

<!-- Slick Js -->
script(type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js")


<!-- Custom Js -->
script(src="assets/js/main.js")
