
nav.navbar.navbar-wrapper
  .container-fluid.nav-container
    .navbar-header.navbar-logo-wrapper
      a.navbar-brand.navbar-logo-link.clearfix(href='#')
        img.navbar-logo(src="./assets/imgs/logo.png")

    ul.nav.navbar-nav.navbar-list
      li.active.navbar-list-item
        a.navbar-list-item-link(href='#') HOME
        ul.navbar-sublist.nav.mega-menu
          .col-sm-4
            li.navbar-sublist-item.title
              a.navbar-sublist-item-link(href='#') Link
            li.navbar-sublist-item
                a.navbar-sublist-item-link(href='#') Link
            li.navbar-sublist-item
              a.navbar-sublist-item-link(href='#') Link
            li.navbar-sublist-item
                a.navbar-sublist-item-link(href='#') Link
          .col-sm-4
            li.navbar-sublist-item.title
              a.navbar-sublist-item-link(href='#') Link
            li.navbar-sublist-item
                a.navbar-sublist-item-link(href='#') Link
            li.navbar-sublist-item
              a.navbar-sublist-item-link(href='#') Link
            li.navbar-sublist-item
                a.navbar-sublist-item-link(href='#') Link
          .col-sm-4
            li.navbar-sublist-item.title
              a.navbar-sublist-item-link(href='#') Link
            li.navbar-sublist-item
                a.navbar-sublist-item-link(href='#') Link
            li.navbar-sublist-item
              a.navbar-sublist-item-link(href='#') Link
            li.navbar-sublist-item
                a.navbar-sublist-item-link(href='#') Link
      li.navbar-list-item
        a.navbar-list-item-link(href='#') CERMONY
      li.navbar-list-item
        a.navbar-list-item-link(href='#') GALLERY
      li.navbar-list-item
        a.navbar-list-item-link(href='#') R.S.V.P
      li.navbar-list-item
          a.navbar-list-item-link(href='#') Link
          ul.navbar-sublist.nav
            li.navbar-sublist-item
              a.navbar-sublist-item-link(href='#') Link
            li.navbar-sublist-item
                a.navbar-sublist-item-link(href='#') Link
            li.navbar-sublist-item
              a.navbar-sublist-item-link(href='#') Link
            li.navbar-sublist-item
                a.navbar-sublist-item-link(href='#') Link
